<div class="hdr-mobile show-mobile display-1024">
    <div class="hdr-topline display-1024">
        <div class="container mobilealign">
            <div class="hdr-topline-center">
                {% comment %} <div class="custom-text d-none d-md-inline">{{ section.settings.delivery }}</div>
                <div class="custom-text">{{ section.settings.phone_1 }}</div> {% endcomment %}
                <div class="menu-toggle">
                    <a href="#" class="mobilemenu-toggle">
                        <i class="icon-menu fixingmain" style="border-right:none!important; height: 57px; padding-top: 15px; margin-left:-9px"></i>
                    </a>
                </div>
              <!--  <div class="vertical0"></div>-->

                <div class="header_link1 fixingmain2 lang-flag" style="border:3px solid #fff; padding:0!important;margin-left:-26px">
                    <img src="//cdn.shopify.com/s/files/1/0429/5219/6253/t/2/assets/UK-Flag.svg?v=12744090195279608171" alt="">
                </div>

               <!-- <div class="vertical"></div> -->
                <div class="col-auto logo-holder middlelogo" style="left:5%;">{% include 'header-logo' %}</div>
               <!--  <div class="vertical2"></div>-->

                <a href="/account/login">
                    <i class=" icon-person dropdown-link2 alfiv" style="vertical-align:middle;"></i>
                </a>
              <!--   <div class="vertical3"></div>-->

                <div class="minicart-holder" style="margin-right: -15px!important;">{% include 'header-cart' %}</div>
            </div>
            <!-- /Menu Toggle -->
            <div class="hdr-topline-right links-holder">
            </div>
        </div>
    </div>
    <div class="hdr-content">
        <div class="container">
            <div class="logo-holder">
                {% include 'header-logo' %}
            </div>
            <div class="minicart-holder">
            </div>
        </div>
    </div>
</div>

<div class="search-holder mobile hideweb display-1024">
    {% include 'header-search-style-1' %}
</div>