<div class="instagram-grid three-in-row">
    <div id="instafeed1" class="instagram-feed-full js-instagram-feed" data-limit='{{ settings.insta_limit }}' data-{{ settings.insta_source }}='{{ settings.insta_source_text }}'></div>
</div>