<div class="hdr-topline top-info-bar hide-mobile">
	<div class="container">
		<div class="row">
			<div class="col-auto hdr-topline-left">
				<div class="custom-text">ORDER BY 3PM FOR SAME DAY DISPATCH</div>
			</div>
			<div class="col hdr-topline-center">
				<div class="custom-text">FREE SHIPPING ON ORDERS OVER £50</div>
			</div>
			<div class="col-auto hdr-topline-right">
              <div class="custom-text"><a href="https://www.perfumedirect.com/pages/perfume-direct-reviews" style="color:#fff; text-decoration: none">Over 8k 5 Star Reviews</a></div>
			</div>
		</div>
	</div>
</div>