  <div class="container-fluid holder-bg-12">
    <div class="row" style="background-color:#e4d3d1">
		<div class="w-100 text-center">
          <a style="color: black;font-weight:bold;padding: 12px 10px;display:block;" href="https://www.perfumedirect.com/pages/fragrance-finder">
            <p style="line-height: normal">Need some help choosing a new scent?</p>
             <small style="font-weight: normal;font-size: 12px">Try the Fragrance Finder Tool</small>
          </a>
		</div>
    </div>
  </div>

{% schema %}
{
  "name": "Offer Bar",
  "class": "index-section",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Offer Bar",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
