{{ content_for_index }}

<div id="shopify-section-collection-banner-2" class="shopify-sections index-sections collection-banner-2">
<div class="holder fullboxed py-3 py-md-7 holder-bg-08 blur-up lazyautosizes lazyloaded" style="background:url({{ 'pf-pattern.svg' | asset_url }}); background-color: #e9e4df;" data-sizes="auto">
	<div class="container">
		<div class="bnr bnr-discount bnr-discount--left">
			<div class="row">
				<div class="col-md">
					<div class="bnr-discount-caption">
						<div class="bnr-discount-text-wrap" style="background-color: #e4d3d1">
                          <div class="bnr-text1"><h1>CHEAP PERFUME & AFTERSHAVE</h1></div>
							<div class="bnr-text2">
                                <p></p>
                          		<p>Welcome to Perfume Direct, we bring you a collection of specially selected women's discount perfumes, men's aftershaves and both men's and women's gift sets at great, low and cheap prices. Our selection of fragrances includes designer names like <a href="https://www.perfumedirect.com/collections/calvin-klein">Calvin Klein</a>, <a href="https://www.perfumedirect.com/collections/paco-rabanne" title="https://www.perfumedirect.com/collections/paco-rabanne">Paco Rabanne</a>, <a href="https://www.perfumedirect.com/collections/issey-miyake" title="https://www.perfumedirect.com/collections/issey-miyake">Issey Miyake</a>, and <a href="https://www.perfumedirect.com/collections/dkny" title="https://www.perfumedirect.com/collections/dkny">DKNY</a>. You'll find an extensive list of A-Z of brands, as well as regular new releases for both men's aftershave and women's perfume in the UK.</p>
								<p>Our affordable fragrances are thanks to a global network of brands and suppliers, who enable us to keep our prices low and cheap when it comes to your favourite perfume or aftershave.</p>
								<p>Browse by brand, deals, gift sets or ladies' and men's fragrances to find your favourite. Whether you're shopping for yourself, or for someone else, our fragrances are brilliant value for money. We're delighted to bring you a wide variety of flexible payment methods from Clearpay, Laybuy & Klarna; meaning you can either split your payment into manageable chunks or delay your payment by 30 days, all interest free in the UK.</p>
								<p>Look out for our UK best sellers, scents of the week and even seasonal fragrances to keep your collection updated with luxury brands from Perfume Direct. Finding your favourite fragrance at cheap discount prices has never been so easy.</p>
                          	</div>
						</div>
					</div>
				</div>
				
              {% comment %}
              
              <div class="col-md bnr-discount-image">


<img class="blur-up  w-100 lazyautosizes lazyloaded" data-widths="[720, 900, 1200, 1800]" data-aspectratio="1.3333333333333333" data-sizes="auto" alt="Lorem Ipsum" style="" data-srcset="//cdn.shopify.com/s/files/1/0429/5219/6253/files/perfume_direct-240_720x.png?v=1595208257 720w, //cdn.shopify.com/s/files/1/0429/5219/6253/files/perfume_direct-240_900x.png?v=1595208257 900w, //cdn.shopify.com/s/files/1/0429/5219/6253/files/perfume_direct-240_1200x.png?v=1595208257 1200w, //cdn.shopify.com/s/files/1/0429/5219/6253/files/perfume_direct-240_1800x.png?v=1595208257 1800w" sizes="570px" srcset="//cdn.shopify.com/s/files/1/0429/5219/6253/files/perfume_direct-240_720x.png?v=1595208257 720w, //cdn.shopify.com/s/files/1/0429/5219/6253/files/perfume_direct-240_900x.png?v=1595208257 900w, //cdn.shopify.com/s/files/1/0429/5219/6253/files/perfume_direct-240_1200x.png?v=1595208257 1200w, //cdn.shopify.com/s/files/1/0429/5219/6253/files/perfume_direct-240_1800x.png?v=1595208257 1800w"></div>
			</div>
		</div>
		<div class="bnr bnr-discount bnr-discount--right">
			<div class="row">
				<div class="col-md">
					<div class="bnr-discount-caption">
						<div class="bnr-discount-text-wrap" style="background-color: #f7fcff">
							<div class="bnr-text1"></div>
							<div class="bnr-text2"></div>
						</div>
					</div>
				</div>
				<div class="col-md bnr-discount-image">


<div class="placeholder-svg-aspect-ratio">



    <div class="placeholder-frame" style="padding-top: 82.88288288288288%">

            <span>555x460</span>

    </div>
    <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5"><path d="M324.5 212.7H203c-1.6 0-2.8 1.3-2.8 2.8V308c0 1.6 1.3 2.8 2.8 2.8h121.6c1.6 0 2.8-1.3 2.8-2.8v-92.5c0-1.6-1.3-2.8-2.9-2.8zm1.1 95.3c0 .6-.5 1.1-1.1 1.1H203c-.6 0-1.1-.5-1.1-1.1v-92.5c0-.6.5-1.1 1.1-1.1h121.6c.6 0 1.1.5 1.1 1.1V308z"></path><path d="M210.4 299.5H240v.1s.1 0 .2-.1h75.2v-76.2h-105v76.2zm1.8-7.2l20-20c1.6-1.6 3.8-2.5 6.1-2.5s4.5.9 6.1 2.5l1.5 1.5 16.8 16.8c-12.9 3.3-20.7 6.3-22.8 7.2h-27.7v-5.5zm101.5-10.1c-20.1 1.7-36.7 4.8-49.1 7.9l-16.9-16.9 26.3-26.3c1.6-1.6 3.8-2.5 6.1-2.5s4.5.9 6.1 2.5l27.5 27.5v7.8zm-68.9 15.5c9.7-3.5 33.9-10.9 68.9-13.8v13.8h-68.9zm68.9-72.7v46.8l-26.2-26.2c-1.9-1.9-4.5-3-7.3-3s-5.4 1.1-7.3 3l-26.3 26.3-.9-.9c-1.9-1.9-4.5-3-7.3-3s-5.4 1.1-7.3 3l-18.8 18.8V225h101.4z"></path><path d="M232.8 254c4.6 0 8.3-3.7 8.3-8.3s-3.7-8.3-8.3-8.3-8.3 3.7-8.3 8.3 3.7 8.3 8.3 8.3zm0-14.9c3.6 0 6.6 2.9 6.6 6.6s-2.9 6.6-6.6 6.6-6.6-2.9-6.6-6.6 3-6.6 6.6-6.6z"></path></svg>
</div></div>
			</div>
		</div>
      {% endcomment %}
	</div>
</div>

</div>