<div class="holder mt-0">
  <div class="container">
    <div class="page-title text-center">
        <div class="title">
            <h1 style="margin-top: 5%">{{ page.title }}</h1>
        </div>
    </div>
    {{ page.content }}
  </div>
</div>

{% section 'vouchers-block-1' %}
{% section 'vouchers-block-2' %}
{% section 'vouchers-block-3' %}
{% section 'vouchers-block-4' %}
<div id="shopify-section-collection-banner-2" class="shopify-sections index-sections collection-banner-2">
<div class="holder fullboxed py-3 py-md-7 holder-bg-08" style="background:url({{ 'pf-pattern.svg' | asset_url }}); background-color: #e9e4df;">
	<div class="container">
		<div class="bnr bnr-discount bnr-discount--left">
			<div class="row">
				<div class="col-md">
					<div class="bnr-discount-caption">
						<div class="bnr-discount-text-wrap" style="background-color: #e4d3d1">
                          <div class="bnr-text1"><h1>VOUCHER CODES</h1></div>
							<div class="bnr-text2">
                                <p></p>
                          		<p>On top of our exceptionally priced fragrance and cosmetics, Perfume Direct are delighted to share our selection of promotions and discount codes that can be used on our website. Meaning you can save even more on your favourite perfume, aftershave, gift sets and cosmetics. Think Student Discount, Youth Discount, Black Friday promos and many more. </p>
				</div>
				</div>	
	</div>
</div>

</div></div></div></div></div>