{{ 'fragrance-finder.css' | asset_url | stylesheet_tag }}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a459ffe687.js" crossorigin="anonymous"></script>

    <title>Step 3</title>
  </head>
  <body>
  

<!---Client Detail---->

<section class="client-data text-center">
    <div class="container">
        <div class="row">
            <div class="align-items-center col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 d-flex flex-column">
                <img src="{{ 'Lisa.png' | asset_url }}" alt="">
              <p class="mt-2">What’s <span id='step1Ans'>your</span> name?</p>
                <div class="form-check">
                    <input class="form-check-input text-field" type="text" placeholder="ENTER YOUR NAME" name="flexRadioDefault" id="flexRadioDefault1">
                  </div>
                  <a href="./fragrance-finder-step-4" class="next-button" id="buttonColor">Next</a>
            </div>
        </div>
    </div>
</section>
 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-latest.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      var paramsObject = {};
      
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.forEach(function (e, w) {
        paramsObject[w] = e;
      })

      var step1 = paramsObject.step1;

      if (step1 === 'someoneElse') {
        $('#step1Ans').text('their');
      }
      
        var href = $('#buttonColor').attr('href');
        $('#flexRadioDefault1').on('input',function(){
            var value = $('input[name="flexRadioDefault"]').val();
            var newHref = updateQueryStringParameter(href + window.location.search, 'step3', value);
            $('#buttonColor').attr('href', newHref);
            $('#buttonColor').removeClass('pe-none');

            $('#buttonColor').addClass('black');

        });

        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }
    </script> 
    <style>
        .form-check {
            background-color: #fff  !important;
            padding: 20px !important;
        }
    </style>
</body>
</html>